<h3>Pages for user: {{gui.user.username}}</h3>
<button id="addButton" type="button" [routerLink]="['../upload']" class="btn btn-info pull-right"><i class="glyphicon glyphicon-plus"></i> Add</button>
<table class="table table-striped" [mfData]="gui.pages" #mf="mfDataTable" [mfRowsOnPage]="10">
  <thead>
  <tr>
    <th style="width: 45%">
      <mfDefaultSorter by="name">Name</mfDefaultSorter>
    </th>
    <th style="width: 45%">
      <mfDefaultSorter by="action">Action</mfDefaultSorter>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mf.data">
    <td>{{item.name}}</td>
    <td><i class="fa fa-upload" aria-hidden="true"></i></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="4">
      <mfBootstrapPaginator></mfBootstrapPaginator>
    </td>
  </tr>
  </tfoot>
</table>
