*.classpath
*.project
*.jar
.gradle/
.settings/
build/
logs/
simple2secure.commons/bin/
simple2secure.api/bin/
simple2secure.probe/bin/
simple2secure.portal/bin/
simple2secure.web/.idea/
simple2secure.web/node_modules/
simple2secure.service/bin/
