*.classpath
*.project
.gradle/
.settings/
build/
logs/
simple2secure.commons/bin/
simple2secure.api/bin/
simple2secure.probe/bin/
simple2secure.portal/bin/
simple2secure.web/.idea/
simple2secure.web/node_modules/
simple2secure.service/bin/
simple2secure.portal/src/main/resources/probe/simple2secure.probe-0.1.0.jar
simple2secure.portal/src/main/resources/probe/simple2secure.probe-0.1.1.jar
simple2secure.portal/src/main/resources/probe/simple2secure.probe-0.1.2.jar
simple2secure.portal/temp/license/license.dat
simple2secure.portal/temp/
simple2secure.service/release/
simple2secure.commons/licenses/
simple2secure.probe/db/
