version: '3.1'

services:
    s2s-portal:
        build:
            context: .
            dockerfile: simple2secure.portal/Dockerfile
        container_name: s2s-portal
        ports:
            - 32821:8080
            - 32820:8443
        volumes:
            - ./ssl:/usr/local/tomcat/ssl
            - ./server.xml:/usr/local/tomcat/conf/server.xml
        depends_on:
            - mongodb
        working_dir: /opt/app
                
    mongodb:
        image: mongo
        container_name: s2s-mongodb
        hostname: localhost
        volumes:
            - $HOME/mongo/data/db:/data/db
        restart: always
        
    s2s-web:
        build: ./simple2secure.web/.
        container_name: s2s-web
        ports: 
            - 9001:80
            - 9000:443
        depends_on:
            - s2s-portal