<mat-form-field class="query-group-select-box" #selectGroup>
    <mat-label>{{'menu.group' | translate}}</mat-label>
    <mat-select [ngModel]="selectedGroup" (selectionChange)="changeGroup($event.value)">
        <mat-option *ngFor="let group of groups" [value]="group" >
            {{group.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="example-container">
    <h2>{{'query.mapped' | translate}}</h2>


    <mat-table [dataSource]="dataSourceMappedQueries"
               class="mat-elevation-z8" cdkDropList #mappedQueriesList="cdkDropList"
               [cdkDropListData]="dataSourceMappedQueries.data" [cdkDropListConnectedTo]="[allQueriesList]"
               (cdkDropListDropped)="drop($event)">

        <ng-container matColumnDef="query">
            <mat-header-cell *matHeaderCellDef> Query </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{row.name}}
            <div *cdkDragPreview class="preview-drag-box">
                <p>{{row.description}}</p>
                <p>Interval: {{row.analysisInterval}} {{row.analysisIntervalUnit}}</p>
            </div>
            <div class="drag-action-buttons">
                <a class="delete-button" (click)='removeMappedQuery(row)'><mat-icon class="drag-action-icon">close</mat-icon></a>
                <a class="edit-button" (click)='editMappedQuery(row)'><mat-icon class="drag-action-icon">edit</mat-icon></a>
            </div>
        </mat-row>
    </mat-table>
</div>

<div class="example-container">
    <h2>{{'query.available' | translate}}</h2>

    <mat-table [dataSource]="dataSourceUnmappedQueries"
               class="mat-elevation-z8" cdkDropList #allQueriesList="cdkDropList"
               [cdkDropListData]="dataSourceUnmappedQueries.data" [cdkDropListConnectedTo]="[mappedQueriesList]"
               (cdkDropListDropped)="drop($event)">

        <ng-container matColumnDef="query">
            <mat-header-cell *matHeaderCellDef> Query </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>{{row.name}}
            <div *cdkDragPreview class="preview-drag-box">
                <p>{{row.name}}</p>
                <p>{{row.description}}</p>
                <p>Interval: {{row.analysisInterval}} {{row.analysisIntervalUnit}}</p>
                <p *ngIf="row.active">Active</p>
                <p *ngIf="!row.active">Inactive</p>
            </div>
        </mat-row>
    </mat-table>
</div>