<mat-form-field class="query-group-select-box" #selectGroup>
    <mat-label>{{'menu.group' | translate}}</mat-label>
    <mat-select [ngModel]="selectedGroup" (selectionChange)="changeGroup($event.value)">
        <mat-option *ngFor="let group of groups" [value]="group" >
            {{group.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="example-container">
    <h2>{{'query.mapped' | translate}}</h2>

    <div
            cdkDropList
            #mappedQueriesList="cdkDropList"
            [cdkDropListData]="mappedQueries"
            [cdkDropListConnectedTo]="[allQueriesList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of mappedQueries" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            {{item.name}}
            <div class="drag-action-buttons">
                <a class="delete-button" (click)='removeMappedQuery(item)'><mat-icon class="drag-action-icon">close</mat-icon></a>
                <a class="edit-button" (click)='editMappedQuery(item)'><mat-icon class="drag-action-icon">edit</mat-icon></a>
            </div>
        </div>
    </div>
</div>

<div class="example-container">
    <h2>{{'query.available' | translate}}</h2>
    <div
            cdkDropList
            #allQueriesList="cdkDropList"
            [cdkDropListData]="unmappedQueries"
            [cdkDropListConnectedTo]="[mappedQueriesList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of unmappedQueries" cdkDrag>{{item.name}}
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
            <div *cdkDragPreview class="preview-drag-box">
                <p>{{item.name}}</p>
                <p>{{item.description}}</p>
                <p>Interval: {{item.analysisInterval}} {{item.analysisIntervalUnit}}</p>
                <p *ngIf="item.active">Active</p>
                <p *ngIf="!item.active">Inactive</p>
            </div>
        </div>
    </div>
</div>