.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.example-box:last-child {
    border: none;
}

.preview-drag-box{
    text-align: center;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.query-group-select-box{
    display: inline-block;
    margin-right: 30px;
}

.drag-action-icon{
    cursor: pointer;
    color: #A7BD26 !important;
}

.drag-action-buttons{
    display: inline-block;
}

.turn-green {
    background-color: #8fa02c !important;
}

.turn-red {
    background-color: #AA3939 !important;
}

.turn-white {
    background-color: white !important;
}

.mat-header-cell:first-child,.mat-cell:first-child{
    flex:15%;
    text-align: left;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
    flex:30%;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
    flex:15%;
}
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
    flex:15%;
}
.mat-header-cell:last-child,.mat-cell:last-child{
    flex:15%;
}

#addCategory{
    margin-left: 15px;
}

.mat-table-align-right{
    text-align: right;
    justify-content: flex-end;
}