$white: #fff;
$primary-blue: #9fb6c3;
$secondary-blue: #e3ebef;
$primary-turquoise: #21b7b7;
$fg-secinto: #a7bd26;
$primary-font: "Lato";

@mixin notification-border($border-width: 1px) {
  border: 0px solid;
  border-bottom-width: $border-width;
  -moz-border-image: -moz-linear-gradient(
      right,
      lighten($secondary-blue, 10%),
      lighten($primary-blue, 15%),
      lighten($primary-blue, 15%),
      lighten($secondary-blue, 10%)
    )
    1 20%;
  -o-border-image: -o-linear-gradient(
      right,
      lighten($secondary-blue, 10%),
      lighten($primary-blue, 15%),
      lighten($primary-blue, 15%),
      lighten($secondary-blue, 10%)
    )
    1 20%;
  border-image: linear-gradient(
      to right,
      lighten($secondary-blue, 10%) 0%,
      lighten($primary-blue, 15%) 40%,
      lighten($primary-blue, 15%) 60%,
      lighten($secondary-blue, 10%) 100%
    )
    1 20%;
}

@mixin list-border {
  border: 0px solid;
  border-left-width: 3px;
  -webkit-border-image: -webkit-gradient(
      linear,
      0 100%,
      0 0,
      from(lighten($secondary-blue, 3%)),
      to(rgba(0, 0, 0, 0))
    )
    1 20%;
  -webkit-border-image: -webkit-linear-gradient(
      bottom,
      lighten($secondary-blue, 3%),
      rgba(0, 0, 0, 0)
    )
    1 20%;
  -moz-border-image: -moz-linear-gradient(
      bottom,
      lighten($secondary-blue, 3%),
      rgba(0, 0, 0, 0)
    )
    1 20%;
  -o-border-image: -o-linear-gradient(
      bottom,
      lighten($secondary-blue, 3%),
      rgba(0, 0, 0, 0)
    )
    1 20%;
  border-image: linear-gradient(
      to top,
      lighten($secondary-blue, 3%) 0%,
      rgba(0, 0, 0, 0)
    )
    1 20%;
}

@mixin transition($timing: 500ms, $easing: ease) {
  -webkit-transition: all $timing $easing;
  -moz-transition: all $timing $easing;
  -ms-transition: all $timing $easing;
  -o-transition: all $timing $easing;
  transition: all $timing $easing;
}

.notifications {
  position: fixed;
  top: 88px;
  right: 50px;
  z-index: 999;
  background: lighten($secondary-blue, 2%);
}

.dropdown-header {
  background: $fg-secinto;
  padding: 15px;
  position: relative;
  text-align: center;
  color: $white;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  @include notification-border(1px);
  box-shadow: 0px 2px 10px -2px lighten($white, 15%);
}

.dropdown-body {
  max-height: 292px;
  max-width: 350px;
  background: lighten($secondary-blue, 2%);
  overflow-y: auto;
  overflow-x: hidden;
  .notification {
    background: $white;
    padding: 15px;
    @include notification-border(1px);
    &.new {
      @include transition;
      background: lighten($secondary-blue, 5%);
    }
    .notification-text {
      display: table-cell;
      padding-left: 15px;
      vertical-align: middle;
      color: $fg-secinto;
      cursor: pointer;
      font-size: 14px;
      word-spacing: 2px;
      line-height: 21px;
      word-break: break-all;
      .highlight {
        font-weight: bold;
      }
    }
  }

  .notification:hover {
    background-color: rgba($fg-secinto, 0.2);
  }
}

.animated {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  webkit-box-shadow: inset 0 0 6px $secondary-blue;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $secondary-blue;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: $fg-secinto;
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: $primary-blue;
}

.new.notification.ng-enter {
  @include transition;
  margin-top: -20%;
  background: darken($secondary-blue, 2%) !important;
}
