.mat-header-cell:first-child,.mat-cell:first-child{
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:25%;
  text-align: center !important;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:15%;
  text-align: center !important;
}
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  flex:20%;
}
.mat-header-cell:nth-child(5),.mat-cell:nth-child(5) {
  flex: 15%;
  text-align: center !important;
}
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:10%
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  border-bottom-style: none;
}

.devices-report{
  margin-left: 10px;
}