<div class="container-jumbotron">
    <div class="jumbotron-bottom jumbotron text-center col-md-5 osconfigjumb" id="osconfigjumb1">
        <h1>{{ 'network.steps' | translate }}</h1>
        <i class="fas fa-shoe-prints fa-4x container-jumbotron-icon"></i>
        <p>{{ 'network.editSteps' | translate }}</p>
        <button mat-raised-button id="osconfigbtn1" class="clickable btn-lg btn-success pull-down osconfigbtn mat-green-button" (click)="selectType('steps')"> {{ 'button.more' | translate }} </button>
    </div>

    <div class="jumbotron-bottom jumbotron text-center col-md-5 osconfigjumb" id="osconfigjumb2">
        <h1>{{ 'network.processors' | translate }}</h1>
        <i class="fas fa-microchip fa-4x container-jumbotron-icon"></i>
        <p>{{ 'network.editProcessors' | translate }}</p>
        <button mat-raised-button id="osconfigbtn2" class="clickable btn-lg btn-success pull-down osconfigbtn mat-green-button" (click)="selectType('processors')"> {{ 'button.more' | translate }} </button>
    </div>
</div>