.turn-green {
  background-color: #8fa02c !important;
}

.turn-red {
  background-color: #AA3939 !important;
}

.turn-white {
  background-color: white !important;
}

.mat-header-cell:first-child,.mat-cell:first-child{
  flex:40%;
  text-align: left;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:15%;
  right: 0;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:15%;
}
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  flex:15%;
}
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:15%;
}