<h1 mat-dialog-title>{{'osquery.details' | translate}} {{queryRun.name}}</h1>
<div mat-dialog-content>
    <form #osqueryConfigForm="ngForm">
        <div>
            <div class="form-group">
                <mat-form-field class="full_width_input">
                    <input type="text" autofocus matInput placeholder="{{ 'table.name' | translate }}" [(ngModel)]="queryRun.name"
                           name="name" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="full_width_input">
                    <input type="text" matInput placeholder="{{ 'table.description' | translate }}"
                           [(ngModel)]="queryRun.description" name="description" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field class="full_width_input">
                    <input type="text" matInput placeholder="{{ 'table.sql' | translate }}"
                           [(ngModel)]="queryRun.sqlQuery" name="sqlQuery" required>
                </mat-form-field>
            </div>
            <div class="form-group">
                <label for="graphAble">{{ 'table.graphAble' | translate }}</label><br>
                <mat-button-toggle-group id="graphAble" name="graphAble" [(ngModel)]="queryRun.graphAble" required="">
                    <mat-button-toggle [value]="true">{{ 'button.true' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="false">{{ 'button.false' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="form-group">
                <label for="systemsAvailable">{{ 'table.systemsAvailable' | translate }}</label><br>
                <section id="systemsAvailable" name="graphAble" >
                    <mat-checkbox class="example-margin" [checked]="windows" (change)="windows = !windows">{{ 'system.windows' | translate }}</mat-checkbox>
                    <mat-checkbox class="example-margin" [checked]="linux" (change)="linux = !linux">{{ 'system.linux' | translate }}</mat-checkbox>
                    <mat-checkbox class="example-margin" [checked]="macos" (change)="macos = !macos">{{ 'system.macos' | translate }}</mat-checkbox>
                </section>
            </div>
            <div class="form-group">
                <label for="active">{{ 'table.active' | translate }}</label><br>
                <mat-button-toggle-group id="active" name="active" [(ngModel)]="queryRun.active" required="">
                    <mat-button-toggle [value]="1">{{ 'button.true' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="0">{{ 'button.false' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="form-group">
                <label for="always">{{ 'osquery.runalways' | translate }}</label><br>
                <mat-button-toggle-group id="always" name="always" [(ngModel)]="queryRun.always" required="">
                    <mat-button-toggle [value]="true">{{ 'button.true' | translate }}</mat-button-toggle>
                    <mat-button-toggle [value]="false">{{ 'button.false' | translate }}</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <table *ngIf="queryRun.always" class="full_width_input" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="full_width_input">
                            <input type="number" matInput placeholder="{{ 'table.unitValue' | translate }}"
                                   [(ngModel)]="queryRun.analysisInterval" name="analysisInterval" required>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field class="full_width_input">
                            <mat-select [(ngModel)]="queryRun.analysisIntervalUnit"
                                        placeholder="{{ 'table.unit' | translate }}" name="analysisIntervalUnit"
                                        required>
                                <mat-option *ngFor="let ttimeUnit of extractTimeUnits()" [value]="ttimeUnit">
                                    {{ttimeUnit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </tr>
            </table>

        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button class="mat-green-button" type="button" (click)="saveQueryRun()"
            [disabled]="!osqueryConfigForm.dirty || !osqueryConfigForm.valid" mat-raised-button color="primary">{{
        'button.save' | translate }}
    </button>
    <button class="mat-red-button" type="button" mat-raised-button color="warn" [mat-dialog-close]="queryRun"
            cdkFocusInitial>{{ 'button.cancel' | translate }}
    </button>
</div>