<div class="stat-item-component">
    <button class="add-widget-button mat-green-button" color="primary" mat-fab (click)="addWidget()" [mat-dialog-close]="true" cdkFocusInitia><mat-icon>add</mat-icon></button>
    <div class="card text-white bg-{{bgClass}}">
        <div class="card-body bg-{{bgClass}}">
            <div id="box">
              <div class="light red" [ngClass]="{'checked': lights.isRed}"></div>
              <div class="light yellow" [ngClass]="{'checked': lights.isYellow}"></div>
              <div class="light green" [ngClass]="{'checked': lights.isGreen}"></div>
            </div>
        </div>
        <div class="card-footer">
            <span class="float-right"><b>{{label}}</b></span>
        </div>
    </div>
</div>