<h1 mat-dialog-title align="center">{{ 'login.password.forgot' | translate }}</h1>
<div mat-dialog-content>
    <form #forgotForm="ngForm" novalidate>
        <div class="form-group input" [ngClass]="{ 'has-error': forgotForm.submitted && !email.valid }">
            <label>{{ 'login.email' | translate }}</label>
            <input placeholder="{{ 'login.email.placeholder' | translate }}" type="email" class="form-control"
                name="email" [(ngModel)]="userRegistration.email" #email="ngModel" required email />
            <div *ngIf="forgotForm.submitted && !email.valid" class="help-block">{{ 'login.email.error'
                | translate }}</div>
        </div>
    </form>
</div>
<div mat-dialog-actions>

    <button [disabled]="!forgotForm.dirty" mat-raised-button class="mat-green-button" color="primary"
        (click)="forgotPassword()">
        {{ 'button.send' | translate }}
    </button>
    <button mat-raised-button color="info" class="mat-red-button" [mat-dialog-close]="userRegistration"
        cdkFocusInitial>{{ 'button.cancel' | translate }}
    </button>
</div>