div.input {
  position: relative;
  margin-top: 20px;
}

div.input label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 10px;
  background: white;
  padding: 5px 2px;
  font-size: 20px;
}

div.input input {
  padding: 10px 20px;
  font-size: 15px;
  outline: 0;
  height: 60px;
}

.loginPageForm {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

#forgotPwd {
  text-align: center;
}

.login-same-level {
  display: flex;
}

.login-fields {
  display: inline-block;
  width: 70%;
  margin-right: 10px;
}

.login-button {
  display: inline-block;
  width: 20%;
}

#forgotPasswordButton {
  display: inline-block;
}

#registerButton {
  display: inline-block;
  margin-right: 10px;
}

#resendActivationLink {
  display: inline-block;
}

.login-same-level {
}

.button {
  background-color: #a7bd26;
  border: none;
  color: white;
  padding: 30%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15%;
}

.button5 {
  border-radius: 50%;
}

.password-field-login .form-control-feedback {
  line-height: 5px !important;
  pointer-events: auto !important;
}

.password-field-login .form-control-feedback:hover {
  cursor: pointer;
}
