<form id="cfgForm" #configForm="ngForm">
    <div>

        <div class="form-group">
            <mat-form-field class="full_width_input">
                <input type="number" matInput placeholder="{{ 'table.version' | translate }}"
                       [(ngModel)]="config.version" name="version" readonly>
            </mat-form-field>
        </div>

        <div class="form-group">
            <label for="showInterfaces">{{ 'config.showInterfaces' | translate }}</label><br>
            <mat-button-toggle-group id="showInterfaces" name="showInterfaces" [(ngModel)]="config.showInterfaces">
                <mat-button-toggle [value]="true">{{ 'button.true' | translate }}</mat-button-toggle>
                <mat-button-toggle [value]="false">{{ 'button.false' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="form-group">
            <mat-form-field class="full_width_input">
                <input type="text" matInput placeholder="{{ 'config.externalAddress' | translate }}"
                       [(ngModel)]="config.externalAddress" name="externalAddress">
                <mat-icon matSuffix class="mat-icon-green">mode_edit</mat-icon>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full_width_input">
                <input type="text" matInput placeholder="{{ 'config.processingFactory' | translate }}"
                       [(ngModel)]="config.processingFactory" name="processingFactory">
                <mat-icon matSuffix class="mat-icon-green">mode_edit</mat-icon>
            </mat-form-field>
        </div>

        <div class="form-group">
            <mat-form-field class="full_width_input">
                <input type="text" matInput placeholder="{{ 'config.bpfFilter' | translate }}"
                       [(ngModel)]="config.bpfFilter" name="bpfFilter">
                <mat-icon matSuffix class="mat-icon-green">mode_edit</mat-icon>
            </mat-form-field>
        </div>
    </div>
    <button type="button" (click)="saveConfig()" [disabled]="!configForm.dirty" mat-raised-button
            class="mat-green-button" color="primary">{{ 'button.save' | translate }}
    </button>
</form>