<h3 mat-dialog-title>{{ 'menu.emails' | translate }}</h3>
<div mat-dialog-content>
    <div class="example-container mat-elevation-z8 table table-striped">
        <div class="header-filter-table">
            <mat-form-field class="header-filter-field">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- From Column -->
            <ng-container matColumnDef="from">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.from' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.from}}</mat-cell>
            </ng-container>

            <!-- Subject Column -->
            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.subject' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subject}}</mat-cell>
            </ng-container>

            <!-- Time Column -->
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.receivedDate' | translate }}
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.receivedDate | date: 'short' }}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
        <mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
    </div>
</div>