<!--  
<form #userForm="ngForm" (ngSubmit)="saveRule()">

	  <table class="full_width_input" cellspacing="0"><tr>
	    <td><mat-form-field class="full_width_input">
	      <input matInput type="text" placeholder="{{ 'table.name' | translate }}" [(ngModel)]="rule.name" name="name" autocomplete='given-name' required>
	    </mat-form-field></td>
	    <td><mat-form-field class="full_width_input">
	      <input matInput type="number" placeholder="{{ 'table.priority' | translate }}" [(ngModel)]="rule.priority" name="priority" autocomplete='given-name' required>
	    </mat-form-field></td>
	  </tr></table>
	  
	  <table class="full_width_input" cellspacing="0"><tr>
	    <td><mat-form-field class="full_width_input">
	      <input matInput type="text" placeholder="{{ 'table.description' | translate }}" [(ngModel)]="rule.description" name="description" autocomplete='family-name'required>
	    </mat-form-field></td>
	  </tr></table>
	  
	  <div class="ngx-dnd-container" fxLayout="row wrap">
		  <div fxFlex="45" class="ngx-dnd-item">Item 1</div>
		  <div fxFlex="45" class="ngx-dnd-item">Item 2</div>
		  <div fxFlex="20" class="ngx-dnd-item">Item 3</div>
		  <div fxFlex="20" class="ngx-dnd-item">Item 4</div>
		  <div fxFlex="20" class="ngx-dnd-item">Item 5</div>
		</div>
	  
	  <div class="ngx-dnd-container" ngxDroppable="operators" fxLayout="row wrap">
	  	  <p>Operators</p>
		  <div fxFlex="20" class="ngx-dnd-item" ngxDraggable *ngFor="let operator of operators">{{operator}}</div>
	  </div>
	  
	  <div class="ngx-dnd-container" ngxDroppable="toolItems">
	  	  <p>Tool Items</p>
		  <div class="ngx-dnd-item" ngxDraggable *ngFor="let item of toolItems">{{item}}</div>
	  </div>
		
		<div class="ngx-dnd-container" ngxDroppable="example">
		   <p>Drop items here:</p>
		</div>
		


	<button type="submit" mat-raised-button color="warn" class="full_width_input">{{ 'button.save' | translate }}</button>
</form>

-->