footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 2%;
    width: 100%;
    color: white;
    background-color: #A7BD26;
    text-align: center;
    font-size: 80%;
}

span {
    vertical-align: middle;
}