<div class="notifications animated">
    <div class="dropdown-header">
        <span class="heading">Notifications</span>
    </div>
    <div class="dropdown-body">

        <div class="notification new" *ngFor="let notification of notifications">
            <div class="notification-text">
                <span *ngIf="!notification.read" class="highlight">{{notification.content}}</span>
                <span *ngIf="notification.read">{{notification.content}}</span>
            </div>
        </div>
    </div>
</div>