<h3 mat-dialog-title>{{ 'button.testresults' | translate }} {{test.test.name}}</h3>

<div mat-dialog-content>
	<fieldset *ngFor="let item of test.results">
		<p><b>Timestamp: </b> {{item.timestamp | date:'fullDate'}}</p>
		<fieldset>
			<div [innerHTML] = "'<b>Result:</b><br>' + item.content | nl2br "></div>
		</fieldset>
        <hr>
	</fieldset>
</div>

<div mat-dialog-actions>
	<button class="mat-red-button" type="button" mat-raised-button color="warn" [mat-dialog-close]="test"
			cdkFocusInitial>{{ 'button.cancel' | translate }}</button>
</div>