<mat-tab-group xmlns:svg="">
	<mat-tab label="Monitored Systems">
		<h1> Monitored Systems </h1>
		<div class="example-container mat-elevation-z8 table table-striped">
			<div class="header-filter-table">
				<mat-form-field class="header-filter-field">
					<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
				</mat-form-field>
			</div>
			
			<mat-table #table [dataSource]="dataSourceMonitored" matSort>

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.name' | translate }}</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.info.name}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="groupId">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.groupId' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.group.groupId}}</mat-cell>
				</ng-container>

				<ng-container matColumnDef="device">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.device' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.info.type}}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="ipAdress">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.ipAddress' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.info.ipAddress}}</mat-cell>
				</ng-container>
				
				<ng-container matColumnDef="deviceStatus">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.status' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let element"> {{element.info.deviceStatus}}</mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumnsMonitored"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumnsMonitored;"></mat-row>
			</mat-table>
			
			<mat-paginator #paginator
						   [pageSize]="pageSize"
						   [pageSizeOptions]="[5, 10, 20]"
						   [showFirstLastButtons]="true"
						   [length]="totalSize"
						   (page)="pageEvent = handlePage($event)">
			</mat-paginator>
			<mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
		</div>
	</mat-tab>
	<mat-tab label="Targeted Systems">
		<button mat-raised-button color="primary" id="addButton" type="button"
				(click)="openDialogShowSuT('new')"
				class="pull-right mat-green-button">
			<i class="glyphicon glyphicon-plus"></i> {{ 'button.add.sut' | translate }}
		</button>
		<h1> Targeted Systems </h1>
		<mat-tab-group xmlns:svg="">
			<mat-tab label="LDC Systems Under Test">
				<div class="example-container mat-elevation-z8 table table-striped">
					<div class="header-filter-table">
						<mat-form-field class="header-filter-field">
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
						</mat-form-field>
					</div>
					
					<mat-table #table [dataSource]="dataSourceLDC" matSort>

						<ng-container matColumnDef="name">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.name' | translate }}</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
						</ng-container>

						<ng-container matColumnDef="ipAddress">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.ipAddress' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.ipAddress}}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="port">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.port' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.port}}</mat-cell>
						</ng-container>
						
						<ng-container matColumnDef="protocol">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.protocol' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let element"> {{element.protocol}}</mat-cell>
						</ng-container>


						<ng-container matColumnDef="action">
							<mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header> {{ 'table.action' | translate }}</mat-header-cell>
							<mat-cell *matCellDef="let element" class="mat-column-right" (click)="$event.stopPropagation()">
								<button class="mat-green-button" mat-button [matMenuTriggerFor]="menu"
										(click)="onMenuTriggerClick(element)">
									<i class="fas fa-bars"></i>
								</button>
							</mat-cell>
						</ng-container>

						<mat-header-row *matHeaderRowDef="displayedColumnsTargetedLDC"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumnsTargetedLDC;"></mat-row>
					</mat-table>
					
					<mat-paginator #paginator
								   [pageSize]="pageSize"
								   [pageSizeOptions]="[5, 10, 20]"
								   [showFirstLastButtons]="true"
								   [length]="totalSizeLDC"
								   (page)="pageEvent = handlePage($event)">
					</mat-paginator>
					<mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
				</div>

				<mat-menu #menu="matMenu">
					    <button mat-menu-item (click)="openDialogShowSuT('edit')">
							<mat-icon>edit</mat-icon>
							{{ 'button.edit' | translate }}
						</button>

						<button mat-menu-item (click)="openDeleteSutDialog()">
							<mat-icon>delete</mat-icon>
							{{ 'button.delete' | translate }}
						</button>
				</mat-menu>	
			</mat-tab>
			<mat-tab label="SDC Systems Under Test">
				<div class="example-container mat-elevation-z8 table table-striped">
					<div class="header-filter-table">
						<mat-form-field class="header-filter-field">
							<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
						</mat-form-field>
					</div>
				
					<mat-table #table [dataSource]="dataSourceSDC" matSort>

							<ng-container matColumnDef="name">
								<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.name' | translate }}</mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
							</ng-container>

							<ng-container matColumnDef="port">
								<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.port' | translate }}
								</mat-header-cell>
								<mat-cell *matCellDef="let element"> {{element.port}}</mat-cell>
							</ng-container>


							<ng-container matColumnDef="action">
								<mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header> {{ 'table.action' | translate }}</mat-header-cell>
								<mat-cell *matCellDef="let element" class="mat-column-right" (click)="$event.stopPropagation()">
									<button class="mat-green-button" mat-button [matMenuTriggerFor]="menu"
											(click)="onMenuTriggerClick(element)">
										<i class="fas fa-bars"></i>
									</button>
								</mat-cell>
							</ng-container>

							<mat-header-row *matHeaderRowDef="displayedColumnsTargetedSDC"></mat-header-row>
							<mat-row *matRowDef="let row; columns: displayedColumnsTargetedSDC;"></mat-row>
					</mat-table>
					
					<mat-paginator #paginator
						   [pageSize]="pageSize"
						   [pageSizeOptions]="[5, 10, 20]"
						   [showFirstLastButtons]="true"
						   [length]="totalSizeSDC"
						   (page)="pageEvent = handlePage($event)">
					</mat-paginator>
					<mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>

					<mat-menu #menu="matMenu">
						 <button mat-menu-item (click)="openDialogShowSuT('edit')">
							<mat-icon>edit</mat-icon>
							{{ 'button.edit' | translate }}
						</button>

						<button mat-menu-item (click)="openDeleteSutDialog()">
							<mat-icon>delete</mat-icon>
							{{ 'button.delete' | translate }}
						</button>
					</mat-menu>	
				</div>
			</mat-tab>		
</mat-tab-group>




