.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.test-list {
  max-height: 230px;
  overflow-y: scroll;
}

.carousel_component {
  padding-left: 5% !important;
}

.item-carousel{
  width: 300px !important;
  height: 300px !important;
  position: absolute !important;
}

.glyphicon glyphicon-plus{
  width: 5px !important;
  height: 5px !important;
  top: 0px !important;
  padding: 5px !important;
}

.glyphicon glyphicon-minus{
  width: 5px !important;
  height: 5px !important;
  padding: 5px !important;
}

.pull-right {
  min-width: 10px !important;
  min-height: 30px !important;
  margin-bottom: 0px !important;
}

button.pull-right.mat-green-button.minus {
  top: -208px !important;
  left: -1px !important;
}

.test-details-carousel {
  padding-top: 20px !important;
}

.mat_card_content {
  flex-direction: row !important;
  overflow: hidden;
}

.forward-arrow-carousel {
  position: relative;
  width: 24px !important;
  float: right !important;
}

.backward-arrow-carousel {
  position: relative !important;
  width: 24px !important;
  float: left !important;
}

.carousel-arrows{
  top: 50%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.mat-dialog-content {
  display: block;
  margin: 0 -24px;
  padding: 0 24px;
  max-height: 75vh;
}

.mat-card {
  flex-direction: row !important;
  max-height: 400px;
  margin-top: 15px;
}

.mat-header-cell:first-child,.mat-cell:first-child{
  flex:30%;
}
.mat-header-cell:nth-child(2),.mat-cell:nth-child(2){
  flex:20%;
}
.mat-header-cell:nth-child(3),.mat-cell:nth-child(3){
  flex:20%;
}
.mat-header-cell:nth-child(4),.mat-cell:nth-child(4){
  flex:20%;
}
.mat-header-cell:last-child,.mat-cell:last-child{
  flex:10%
}