<router-outlet></router-outlet>
<div class="container-jumbotron">
    <div class="jumbotron-bottom jumbotron text-center col-md-5 osconfigjumb" id="osconfigjumb1">
        <h1>{{ 'menu.templates' | translate }}</h1>
        <i class="fas fa-newspaper fa-4x container-jumbotron-icon"></i>
        <p>{{ 'test.pod' | translate }}</p>
        <button mat-raised-button id="osconfigbtn1"
                class="clickable btn-lg btn-success pull-down osconfigbtn mat-green-button"
                (click)="navigateTo('test')"> {{ 'button.more' | translate }}
        </button>
    </div>

    <div class="jumbotron-bottom jumbotron text-center col-md-5 osconfigjumb" id="osconfigjumb2">
        <h1>{{ 'test.scheduled' | translate }}</h1>
        <i class="fas fa-newspaper fa-4x container-jumbotron-icon"></i>
        <p>{{ 'test.scheduled.info' | translate }}</p>
        <button mat-raised-button id="osconfigbtn2"
                class="clickable btn-lg btn-success pull-down osconfigbtn mat-green-button"
                (click)="navigateTo('scheduledTests')"> {{ 'button.more' | translate }}
        </button>
    </div>
</div>