<button mat-raised-button color="primary" id="addButton" type="button"
        (click)="openDialogShowTest('new')"
        class="pull-right mat-green-button">
    <i class="glyphicon glyphicon-plus"></i> {{ 'button.addTest' | translate }}
</button>

<div class="example-container mat-elevation-z8 table table-striped">

    <div class="header-filter-table">
        <mat-form-field class="header-filter-field">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
    </div>
    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="testId">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.test' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hostname">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.hostname' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.hostname}}</mat-cell>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.status' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.active}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="version">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'table.version' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.test_content.test_definition.version}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef class="mat-column-right" mat-sort-header> Action</mat-header-cell>
            <mat-cell *matCellDef="let element" class="mat-column-right" (click)="$event.stopPropagation()">
                <button class="mat-green-button" mat-button [matMenuTriggerFor]="menu"
                        (click)="onMenuTriggerClick(element)">
                    <i class="fas fa-bars"></i>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
    <mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialogShowTest('edit')">
        <mat-icon>edit</mat-icon>
        {{ 'button.edit' | translate }}
    </button>

    <button mat-menu-item (click)="runTest()">
        <mat-icon>play_arrow</mat-icon>
        {{ 'button.runtests' | translate }}
    </button>
</mat-menu>



