<h1>Add new SUT</h1>
<div mat-dialog-content>
	<div *ngIf="selectedType == 'LDCSUT'">
		<form id="cfgForm" #configForm="ngForm">
			<mat-form-field class="full_width_input">
                <input type="text" matInput placeholder="{{ 'table.ipAddress' | translate }}"
                        [(ngModel)]="ipAddress" name="ipAddress">
            </mat-form-field>
			<mat-form-field class="full_width_input">
				<input type="text" matInput placeholder="{{ 'table.port' | translate }}"
                        [(ngModel)]="port" name="port">
			</mat-form-field>
			<mat-form-field class="full_width_input">
              <mat-label>Protocol</mat-label>
			  <mat-select [(ngModel)]="selectedProtocol" name="selectedProtocol">
				<mat-option *ngFor="let prot of protocolSelect" [value]="prot">
				  {{prot}}
				</mat-option>
			  </mat-select>
            </mat-form-field>
		</form>
	</div>
	<div *ngIf="selectedType == 'SDCSUT'">
		<form id="cfgForm" #configForm="ngForm">
			<mat-form-field class="full_width_input">
				<input type="text" matInput placeholder="{{ 'table.port' | translate }}"
                        [(ngModel)]="port" name="port">
			</mat-form-field>
		</form>
	</div>
	 
</div>

<div mat-dialog-actions>
    <button class="mat-red-button" type="button" mat-raised-button color="warn" (click)="close(false)"
            cdkFocusInitial>{{ 'button.cancel' | translate }}
    </button>
    <button class="mat-green-button" type="button" mat-raised-button color="success" (click)="save()">{{ 'button.next' | translate }}
    </button>
</div>