<h3 *ngIf="!isNewTest" mat-dialog-title>{{ 'orbiter.editsequence' | translate }}</h3>
<h3 *ngIf="isNewTest" mat-dialog-title>{{ 'button.addSequence' | translate }}</h3>

<div mat-dialog-content>
    <form id="cfgForm" #configForm="ngForm">
        <div>
            <mat-accordion>
                  <mat-form-field class="full_width_input">
                         <input type="text" matInput placeholder="{{ 'table.name' | translate }}"
                             [(ngModel)]="sequence.name" value="" name="name">
                    </mat-form-field>
                 
					<mat-card>
					  <mat-card-content class="mat_card_content" >
						  	<div class="backward-arrow-carousel">
									<i class="material-icons" (click)="prev()">
										arrow_back_ios
									</i>
							</div>
							<carousel-component [lockSlides]="true" class="carousel_component" #carousel>
									<div class="item-carousel" [(ngModel)]="sequenceToShow" *ngFor="let test of sequenceToShow" name="test-carousel" ngDefaultControl>
										<h4>{{test.name}}</h4>
										<div class="test-details-carousel">
											Precondition: <p>{{test.test_content.test_definition.precondition.command.executable}}</p>
											Step: <p>{{test.test_content.test_definition.step.command.executable}}</p>
											Postcondition: <p>{{test.test_content.test_definition.postcondition.command.executable}}</p>
										</div>
										<button mat-raised-button color="primary" id="removeButton" type="button"
											(click)="removeTestFromSequence(test)"
											class="pull-right mat-green-button minus">
											<i class="glyphicon glyphicon-minus"></i>
										</button>
									</div>
							</carousel-component>
							<div class="forward-arrow-carousel">
									<i class="material-icons" (click)="next()">
										arrow_forward_ios
									</i>
							</div>
					  </mat-card-content>

					</mat-card>
					
					<mat-card>
					  <mat-card-header>
						Tests
					  </mat-card-header>
					  <mat-card-content class="test-list">
						<div class="example-box" *ngFor="let item of tests" p>{{item.name}}
							<button mat-raised-button color="primary" id="addButton" type="button"
								(click)="addTestToSequence(item)"
								class="pull-right mat-green-button">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
						</div>	
					  </mat-card-content>

					</mat-card>
            </mat-accordion>

        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button class="mat-red-button" type="button" mat-raised-button color="warn" (click)="close(false)"
            cdkFocusInitial>{{ 'button.cancel' | translate }}
    </button>
    <button class="mat-green-button" type="button" mat-raised-button color="success" (click)="updateSaveSequence()">{{ 'button.save' | translate }}
    </button>
</div>
