td.mat-cell, th.mat-header-cell {
	border-bottom: none;
}

.mat-radio-outer-circle {
    box-sizing: border-box;
    height: 20px;
    left: 6px;
    position: absolute;
    top: 0;
    transition: border-color ease 280ms;
    width: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}