<div class="resendPageForm">
    <h2 id="resendH2">{{ 'resendActivation.header' | translate }}</h2>
    <form name="form" (ngSubmit)="f.form.valid && resendActivation()" #f="ngForm" novalidate>

        <div class="form-group input" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">{{ 'login.email' | translate }}</label>
            <input placeholder="{{ 'login.email.placeholder' | translate }}" type="email" class="form-control"
                   name="email" [(ngModel)]="resendEmail" #email="ngModel" required email/>
            <div *ngIf="f.submitted && !email.valid" class="help-block">{{ 'login.email.error' | translate }}</div>
        </div>

        <div class="form-group controlButtons">
            <button [disabled]="loading" mat-raised-button class="mat-green-button" color="primary">
                {{ 'button.send' | translate }}
                <img *ngIf="loading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </button>
            <button [routerLink]="['']" mat-raised-button color="info" class="mat-red-button" formnovalidate>{{
                'button.back' | translate }}
            </button>
        </div>
    </form>
</div>
