<h1 mat-dialog-title>{{ 'group.details' | translate }} {{group.name}}</h1>
<div mat-dialog-content>
    <form #groupForm="ngForm">
        <mat-form-field class="full_width_input">
            <input matInput type="text" placeholder="{{ 'group.name.placeholder' | translate }}"
                   [(ngModel)]="group.name" name="name" autocomplete="name" [disabled]="!groupEditable" required>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button type="button" (click)="saveGroup()" [disabled]="!groupForm.dirty || !groupEditable"
            mat-raised-button class="mat-green-button" color="primary">{{ 'button.save' | translate }}
    </button>
    <button mat-button mat-raised-button class="mat-red-button" color="warn" [mat-dialog-close]="group" cdkFocusInitial>
        {{ 'button.cancel' | translate }}
    </button>
</div>