<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-nav centered-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item dropdown dropdown-language" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'menu.language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="setLocale('en')">
                        {{ 'menu.english' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="setLocale('de')">
                        {{ 'menu.german' | translate }}
                    </a>
                </div>
            </li>
            <li *ngIf="loggedIn">
                <button mat-icon-button routerLink="/user" color="white"><i class="fa fa-user fa-lg"
                                                                            aria-hidden="true"></i></button>
            </li>
            <li *ngIf="loggedIn" (click)="openNotificationModal()">
                <button mat-icon-button color="white"><i class="fa fa-bell fa-lg "
                                                         aria-hidden="true" matBadge="{{this.numOfUnreadNotification}}" matBadgeColor="warn" matBadgePosition="above after"></i></button>
            </li>
            <li *ngIf="loggedIn">
                <button mat-icon-button routerLink="/login" color="white"><i class="fas fa-sign-out-alt fa-lg"
                                                                             aria-hidden="true"></i></button>
            </li>
        </ul>

        <div *ngIf="showNotifications">
            <notificationList></notificationList>
        </div>

        <div *ngIf="showUserModal">
            <userModal></userModal>
        </div>

    </div>
</nav>
