<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <breadcrumb class="breadcrumb-nav-header" [allowBootstrap]="true"></breadcrumb>
        </div>
        <ul class="nav navbar-nav centered-nav">

            <mat-form-field *ngIf="loggedIn" class="search-bar-input">
                <input matInput placeholder="{{'menu.search' | translate}}" (keyup.enter)="navigateToTheSearchPage()" [(ngModel)]="searchValue">
                <span matSuffix><i class="material-icons mat-icon-sidenav">search</i></span>
            </mat-form-field>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <mat-form-field id="nav-right-custom-language-switcher">
                    <mat-select id="nav-right-custom-language-switcher-select" [ngModel]="currentLang" (selectionChange)="setLocale($event.value)">

                        <mat-option id="nav-right-custom-language-switcher-option" *ngFor="let language of languages"
                                    [value]="language.value">
                            {{language.value}}
                        </mat-option>

                    </mat-select>
                </mat-form-field>
            </li>
            <li *ngIf="loggedIn" class="nav-item dropdown dropdown-user" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user fa-lg"></i> <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <ul>
                        <i class="fa fa-user fa-xs "
                           aria-hidden="true"></i> <a class="dropdown-item" href="javascript:void(0)" routerLink="/user">
                            {{ 'table.myprofile' | translate }}
                        </a></ul>
                    <ul><i class="fas fa-sign-out-alt" aria-hidden="true"></i> <a class="dropdown-item" href="javascript:void(0)" routerLink="/login">
                        {{ 'menu.logout' | translate }}
                    </a></ul>
                </div>
            </li>
            <li *ngIf="loggedIn" (click)="openNotificationModal()">
                <button class="notification-icon" mat-icon-button color="white"><i class="fa fa-bell fa-lg "
                                                         aria-hidden="true" matBadge="{{this.numOfUnreadNotification}}" matBadgeColor="warn" matBadgePosition="above after"></i></button>
            </li>
        </ul>

        <div *ngIf="showNotifications">
            <notificationList></notificationList>
        </div>

    </div>
</nav>
