.circle-container {
    position: relative;
    width: 28em;
    height: 28em;
    padding: 2.8em;
    border-radius: 50%;
    margin: 1.75em auto 0;
}

.circle-container .subitems {
    width: 12em;
    height: 12em;
}

.circle-container .subitems a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    height: 4em;
    margin: -2em;
}

.circle-container img {
    display: block;
    width: 100%;
}

.deg0 {
    transform: translate(12em);
}

/* 12em = half the width of the wrapper */
.deg45 {
    transform: rotate(45deg) translate(12em) rotate(-45deg);
}

.deg135 {
    transform: rotate(135deg) translate(12em) rotate(-135deg);
}

.deg180 {
    transform: translate(-12em);
}

.deg225 {
    transform: rotate(225deg) translate(12em) rotate(-225deg);
}

.deg315 {
    transform: rotate(315deg) translate(12em) rotate(-315deg);
}

agm-map{
    height: 500px;
}